<%- include('header') %>

  <div class="container">
    <h1><%= title %></h1>

    <div class="panel panel-default">
      <div class="panel-heading">Log Viewer</div>
    </div>
  </div>

<%- include('footer') %>
