<%- include("header") %>

  <div class="container">
    <h1><%= title %></h1>
    <div class="panel panel-default">
      <div class="panel-heading">Log Viewer</div>
      <div id="log-window" class="panel-body">No logs to show</div>
    </div>
  </div>
  <script src="/javascripts/log-viewer.js"></script>
<%- include("footer") %>
